@model ZooMVC.Models.Habitat

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Habitat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weather" class="control-label"></label>
                <input asp-for="Weather" class="form-control" />
                <span asp-validation-for="Weather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vegetation" class="control-label"></label>
                <input asp-for="Vegetation" class="form-control" />
                <span asp-validation-for="Vegetation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItineraryId" class="control-label"></label>
                <select asp-for="ItineraryId" class="form-control" asp-items="ViewBag.ItineraryId"></select>
                <span asp-validation-for="ItineraryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
